<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.autoxapp" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>极速连点器</name>
    <description>AutoX.js APK</description>
    <author email="you@example.com" href="#">Your Name</author>
    <content src="index.html"/>
    
    <platform name="android">
        <icon src="www/icon.png"/>
        <allow-intent href="market:*"/>
    </platform>
</widget>